[submodule "JiaoLongWMI"]
	path = JiaoLongWMI
	url = git@github.com:GaoXanSheng/JiaoLongWMI.git
[submodule "JiaoLongEC"]
	path = JiaoLongEC
	url = git@github.com:GaoXanSheng/JiaoLong16Pro_EC_Tools.git
